@import '~@angular/material/prebuilt-themes/purple-green.css';
/*@import '~bootstrap/scss/bootstrap-grid.scss';*/
/*@import '~bootstrap/scss/mixins';*/
body {
  margin: 0;
  font-size: 1.3em;
  font-family: Georgia, serif;
  color: #676767;
  background-color: #F8F9FA !important;
}
